<!-- <ul  class="list-group">
  <li class="list-group-item" routerLink="cars" scope="col"><h6> Tüm Renkler</h6></li>
  <li (click)="setCurrentColor(color)"
  routerLink="cars/colors/{{color.colorId}}"
   [class]="getCurrentColorClass(color)"
   *ngFor="let color of colors"> {{color.colorName}}</li> 
</ul> -->
<ul class="list-group">
  <li class="list-group-item bg-dark text-light list-group-item-action" >Renkler</li>
    <li
      class="list-group-item-secondary"
      [class]="getAllColorClass()"
     routerLink="/cars"
    >
    Tüm Ürünler
  </li>
  <li
    (click)="setCurrentColor(color)"
    routerLink="/cars/colors/{{color.colorId}}"
    *ngFor="let color of colors"
    [class]="getCurrentColorClass(color)" class="list-group-item-secondary"
  >
    {{ color.colorName }}
  </li>
</ul>