<ul class="list-group">
  <li class="list-group-item bg-dark text-light list-group-item-action ">Markalar</li>

  <div class="mb-1">
    <!-- <label for="filterText" class="form-label"></label> -->
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="marka ara">
  </div>
  <div *ngIf="filterText" class="alert alert-success">
    {{filterText}} aradınız
  </div>
  <li class="list-group-item-secondary mb-1" [class]="getAllBrandClass()" routerLink="/cars">
    Tüm Arabalar
  </li>
  <li (click)="setCurrentBrand(brand)" routerLink="/cars/brands/{{ brand.brandId }}"
    *ngFor="let brand of brands  |filterBrand:filterText" [class]="getCurrentBrandClass(brand)"
    class="list-group-item-secondary mb-1">
    {{ brand.brandName }}
  </li>
  <div class="mb-3">
    <button class="btn btn-primary" routerLink="/brands">Marka Listesi</button>
  </div>
</ul>