<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div *ngFor="let cars of carImages; let i = index" [ngClass]="getSliderClassName(i)">
      <img *ngIf="cars.imagePath != null" class="card-img-top" src="https://localhost:44325/{{ cars.imagePath }}"
        alt="Card image cap" />
      <img *ngIf="cars.imagePath == null" class="card-img-top" src="https://localhost:44325/Images/default.jpg"
        alt="Card image cap" />
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<table class="table">
  <thead>
    <tr style="color: #2e2cbb">
      <th>Araç No</th>
      <th>Araç Adı</th>
      <th>Renk</th>
      <th>Model Yılı</th>
      <th>Açıklama</th>
      <th>Günlük Fiyat</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cars of carDetails |filterCar:filterCarText">
      <td>{{ cars.carId }}</td>
      <td>{{ cars.carName }}</td>
      <td>{{ cars.colorName }}</td>
      <td>{{ cars.modelYear }}</td>
      <td>{{ cars.description }}</td>
      <td>{{ cars.dailyPrice }} ₺</td>
      <td routerLink="/cars" class="list-group-active"><button type="button" class="btn btn-success">Geri</button></td>
      <td routerLink="/rental/{{cars.carId}}" class="list-group-active"><button type="button" class="btn btn-success ">Kirala</button></td>
    </tr>
  </tbody>
</table>

