<!-- 
<div class="container">
  <app-navi></app-navi>
  <div class="row">
    <div class="col-md-3">
      <div>
        <app-brand></app-brand>
        <app-color></app-color>

      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
         <router-outlet></router-outlet>  
      </div>
           <div class="row">
             <app-rental></app-rental>
           </div>
    </div>
  </div> -->




  <!-- <div>
    <app-navi></app-navi>
    <div class="mx-5">
      <div class="row py-3">
        <div class="col-2">
          <div class="row">
            <app-brand></app-brand>
          </div>
          <div class="row mt-1">
            <app-color></app-color>
          </div>
        </div>
        <div class="col-9">
          <div class="row">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer bg-success text-light text-center pb-2 pt-2">
      <p>Mehmet Akif ÜNLÜ© 2021 Tüm Hakları Saklıdır.</p>
    </footer>
  </div> -->


  <div class="container">
    <app-navi></app-navi>
   <!-- <app-customer></app-customer> -->
    <div class="row">
      <div class="col-md-2">
         <div class="mt-5">
           <app-brand></app-brand> 
       </div> 
      </div>
      <div class="col-md-8">
        <router-outlet></router-outlet> 
      </div>
      <div class="col-md-2">
        <div class="mt-5">
          <app-color></app-color>
        </div>       
      </div>
    </div>
    <footer class="footer bg-info text-light text-center pb-2 pt-2">
      <p>Mehmet Akif ÜNLÜ© 2021 Tüm Hakları Saklıdır.</p>
    </footer>
  </div> 

    
<!-- <app-navi></app-navi>
<div class="container">

  <router-outlet></router-outlet>

</div> -->